<script>
  MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']], displayMath: [['$$', '$$'], ['\\[', '\\]']], processEscapes: true }, svg: { fontCache: 'global' } };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
<link rel="icon" href="../images/favicon.svg" type="image/svg+xml">
<meta property="og:title" content="Lernskript Mathematik">
<meta property="og:description" content="Interaktives Lernskript von Kombinatorik bis Differentialgleichungen.">
<meta property="og:image" content="../images/placeholder.svg">
<meta property="og:type" content="website">
<link rel="stylesheet" href="../style.css">
<link rel="icon" href="../images/favicon.ico">
<meta property="og:title" content="Lerneinheiten Mathematik">
<meta property="og:description" content="Interaktives Lernskript für Mathematik, von Kombinatorik bis Differentialgleichungen.">
<meta property="og:type" content="website">
<meta property="og:image" content="../images/placeholder.svg">
